main {
  background-color: #e67e22;
  width: 100%;
  & section {
    background-color: #f1c40f;
    width: 80%;
    & li {
      background-color: #2ecc71;
      width: 50%;
      & a {
        background-color: #1abc9c;
        color: #8e44ad;
        width: 100%;
        &:hover {
          font-size: 2rem;
        }
      }
    }
  }
}

a {
  color: red;
}
